Dear user,

This is a system notification to inform you that a user has recently submitted a comment on an article. You may view the details below,

===========================================================================
Content Title: %CONTENTTITLE%
===========================================================================

Comment Title: %COMMENTTITLE%
Author: %NAME%
Email: %EMAIL%
Link to content: %LINK%

Comment:
%COMMENT%

===========================================================================

[Powered by Jom Comment]
